<header>
  <div class="container">
  <h1>Welcome to Scouthut!</h1>
  <p>Do a good turn daily!</p>
</div>
</header>

<main>
  <div class="welcome">
    <% if logged_in? %>
      <%= erb :'/_welcome', layout: false%>
    <% else %>
      <%= erb :'/_signup_signin', layout: false%>
    <% end %>
  </div>
</main>

<footer>
<p>Copyright and Legal Stuff</p>
</footer>
