<header class="bgc-venture">
  <div class="ff-s bgc-olivedrabby-lt ta-c">
  <h1>Welcome to Scouthut!</h1>
  <p>Do a good turn daily!</p>
</div>
</header>

<main>
  <div class="bgc-pastey">
    <% if logged_in? %>
      <%= erb :'/_welcome', layout: false%>
    <% else %>
      <%= erb :'/_signup_signin', layout: false%>
    <% end %>
  </div>
</main>

<footer class="bgc-venture-lt">
<p>Copyright and Legal Stuff</p>
</footer>
