<div class="welcome">
  <h1>Welcome to Scouthut!</h1>
  <p>Explore the world!</p>
</div>

<a href="/users/new"> Click here to sign up! </a>
<a href="/sessions/new"> Click here to sign in! </a>
<div class="get-in">
</div>
